@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

	html
		font-size: 16px

	// custom
	.accent-button
		&--wide

		&--middle

		&--h-form

	.b-padding
		padding-top: 4rem
		padding-bottom: 4rem

	.b-heading
		font-size: 2rem

	.logo-part
		&--middle

	// .nav
	.nav
		height: auto
		&__text
			font-size: 1.2rem

	// intro-screen
	.intro-screen
		&__heading
			height: auto
			min-height: auto
			font-size: 2.6rem

	// .open-form
	.form-open
		&--v
			min-height: 200px
			padding: 16px

		&__input
			&--v
				min-width: 200px
				margin-bottom: 10px

		&__callback
			margin-bottom: 24px
			&--v
				margin-bottom: 16px

		&__attention
			font-size: 0.7rem

	// .directions
	.directions
		&__item
		&__image
			margin-bottom: 36px

		&__caption
			min-height: 5rem
			padding: 0 1rem
			font-size: 1.2rem
			font-weight: 700

	// .reasons
	.reasons
		&__item
			margin-top: 20px
			margin-bottom: 20px
		&__icon
			max-width: 5.2rem
			max-height: 5.3rem
			margin-bottom: 1.75rem
		&__caption
			min-height: 56px
			padding: 0 1.6rem

	// .prices
	.prices
		font-size: 1.1rem

		&__title

		&__item
			min-height: 670px

		&__section
			&--dashed-border

		&__img-wrapper
			&--grass

		&__img

		&__heading
			min-height: 136px

			&--grass

		&__model
			font-size: 1.3rem

		&__text
			&--heading

			&--f-size
				min-height: 3rem

		&__cost

		&__content
			&--grass
				min-height: 80px

		&__add
			&--grass

	// .footer
	.footer
		&__wrapper
			min-height: 200px


// ≥992px
+media-breakpoint-down(md)
	html
		font-size: 16px

	// custom
	.accent-button
		min-width: 90%
		min-height: 1.9rem
		&--wide
			min-height: 3rem

		&--middle
			min-width: 240px
			min-height: 40px

	.b-heading
		text-align: center
	// intro-screen
	.intro-screen
		min-height: 860px
		background-image: url(../img/intro-bg-lg.jpg)
		&__heading
			min-height: auto

		&__footer
			min-height: 120px
			background-color: fade-out(black, .5)

	.form-open
		&--v
			min-width: 100%
			min-height: 10px

		&__wrapper
			min-height: 1px
			margin-bottom: 12px
			&--v
				min-height: 1rem

		&__input
			min-width: 90%

		&__offer
			margin-bottom: 4px
			font-size: 1.2rem

			&--v
				font-size: 1.2rem
		&__callback
			&--v
				font-size: 1rem

	// .directions
	.directions
		&__item
			margin-bottom: 2rem
		&__image
			margin-bottom: 36px

		&__caption
			min-height: auto

	// footer
	.footer
		&__wrapper
			min-height: auto
			height: auto

// ≥768px
+media-breakpoint-down(sm)
	html
		font-size: 18px

	// custom

	.b-padding
		padding-top: 2rem
		padding-bottom: 2rem

	.accent-button
		&--middle
			min-width: 100%


	.nav
		&__logo
			max-width: 250px
			margin-bottom: 10px

	.intro-screen
		min-height: 100vh
		background-image: url(../img/intro-bg-xs.jpg)
		padding: 10vh 0 0

		&__heading
			font-size: 1.5rem

		&__description
			font-size: 1.2rem

	// .promo
	.promo
		min-height: 640px
		&__heading
			font-size: 1.4rem



// ≥576px
+media-breakpoint-down(xs)
	.nav
		padding: 8px 0

		&__logo
			max-width: 40vw
			margin-bottom: 0

		&__text
			font-size: 4.4vw


// (max-width: 767px) and (orientation: landscape)
@media screen and (max-width: 767px) and (orientation: landscape)

	.intro-screen
		padding: 120px 0 0

// (max-width: 575px) and (orientation: landscape)
@media screen and (max-width: 575px) and (orientation: landscape)

	.intro-screen
		padding: 20vw 0 0

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
	// intro-screen
	.intro-screen
		min-height: 100vh
		height: auto
		background-image: url(../img/intro-bg.jpg)
		background-size: cover
		background-repeat: no-repeat
		background-position: 50% 50%
		padding: 154px 0 0
		&__content
			min-height: 50vh
			height: auto
			// max-height: 60vh
			&-row
				height: auto

		&__footer
			max-height: 125px
			min-height: 100px
			margin-top: 10px
			height: 125px
			position: absolute
			left: 0
			right: 0
			bottom: 0

		&__text
			height: auto
			min-height: 40px

		&__form
			height: auto
			min-height: 40px








/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
